* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.box-nav {
  height: 50px;
  background-color: #222;
}

.box-nav .container {
  padding: 0;
}

.box-nav .container .navbar-header .navbar-brand {
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.box-nav .container .navbar {
  border: none;
  margin-bottom: 0;
}

.box-nav .container .navbar-wrapper .navbar-brand {
  padding: 0 15px;
}

.box-nav .container .navbar-wrapper .navbar-brand > img {
  width: 130px;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 991px) {
  .section1 {
    background-color: #8bc01f;
  }
  .section1 > .row {
    width: 1000px;
    margin: 0 auto;
  }
  .section1 .box {
    color: white;
  }
  .section1 .box h3 {
    font-size: 3rem;
    margin: 75px 0 25px;
    margin-left: 45px;
  }
  .section1 .box h3::before {
    position: absolute;
    left: 0;
    content: "1";
    width: 3.3125rem;
    height: 3.3125rem;
    background-color: #fff;
    color: #8bc01f;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.3125rem;
    border-radius: 2px;
  }
  .section1 .box h6 {
    font-size: 1.5rem;
    margin-bottom: 68px;
  }
  .section1 .box p {
    font-size: .875rem;
    line-height: 1.9375rem;
  }
  .section1 img {
    margin-top: 60px;
  }
  .section1 .btn {
    color: #8bc01f;
    margin-top: 35px;
    margin-bottom: 94px;
  }
  .section2 {
    background-color: #3393df;
  }
  .section2 > .row {
    width: 1000px;
    margin: 0 auto;
    color: #fff;
  }
  .section2 > .row h3 {
    margin-left: 55px;
    font-size: 3rem;
    margin: 75px 0 18px 50px;
  }
  .section2 > .row h3::before {
    position: absolute;
    left: -41px;
    content: "2";
    width: 2.8125rem;
    height: 2.8125rem;
    background-color: #fff;
    color: #3393df;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.8125rem;
    border-radius: 2px;
  }
  .section2 > .row p {
    font-size: .875rem;
    line-height: 2rem;
  }
  .section2 > .row h5 {
    margin: 25px 0 18px;
    font-size: 1.5rem;
  }
  .section2 > .row .gt {
    margin: 143px 0 60px;
  }
  .section3 > .row {
    width: 1000px;
    margin: 0 auto;
  }
  .section3 > .row .title h3 {
    margin: 90px 0 25px;
    display: inline-block;
    font-size: 2.625rem;
    color: #3393df;
  }
  .section3 > .row .title span {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2px;
    font-size: 2.25rem;
    color: #fff;
    background-color: #3393df;
    text-align: center;
    line-height: 2.5rem;
  }
  .section3 h6 {
    color: #3393df;
    margin: 37px 0 20px;
  }
  .section3 .fon14 {
    font-size: .875rem;
    color: #5d5d5d;
  }
  .section3 .fon18 {
    font-size: 1.125rem;
  }
  .section3 img {
    margin: 40px 0 86px 168px;
  }
  .section3 .gt {
    margin-bottom: 56px;
  }
  .section4 {
    background-color: #f7f7f7;
  }
  footer {
    background-color: #3b3b3b;
  }
  footer .box6 {
    width: 1000px;
    margin: 0 auto;
  }
  footer .box6 h6 {
    margin-top: 36px;
    color: #9798a0;
    font-size: .875rem;
  }
  footer .box6 p {
    color: #9798a0;
    font-size: .6875rem;
    margin-bottom: 37px;
  }
  footer .box6 .gt {
    margin-top: 38px;
  }
  footer .box6 .gt img {
    margin-right: 20px;
  }
  footer .box6 .gt .qr {
    position: absolute;
    top: -153px;
    left: 28px;
    opacity: 0;
  }
  footer .box6 .gt .vx:hover + .qr {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 20px;
  }
  .box-nav {
    height: 100%;
  }
  .box-nav .navbar-wrapper .navbar {
    margin-bottom: 0;
  }
  .box-nav .navbar-wrapper #navbar .dropdown {
    position: absolute;
    top: 0;
    right: 80px;
  }
  .section1 {
    background-color: #8bc01f;
  }
  .section1 .box {
    color: white;
  }
  .section1 .box h3 {
    font-size: 3rem;
    margin: 25px 0 25px;
    margin-left: 65px;
  }
  .section1 .box h3::before {
    position: absolute;
    left: 5px;
    content: "1";
    width: 3.3125rem;
    height: 3.3125rem;
    background-color: #fff;
    color: #8bc01f;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }
  .section1 .box h6 {
    font-size: 1.5rem;
    margin-bottom: 28px;
  }
  .section1 .box p {
    font-size: .875rem;
    line-height: 1.9375rem;
  }
  .section1 .btn {
    color: #8bc01f;
    margin-top: 35px;
  }
  .section2 {
    background-color: #3393df;
  }
  .section2 > .row {
    color: #fff;
  }
  .section2 > .row h3 {
    font-size: 3rem;
    margin: 25px 0 18px 55px;
  }
  .section2 > .row h3::before {
    position: absolute;
    left: -47px;
    content: "2";
    width: 2.8125rem;
    height: 2.8125rem;
    background-color: #fff;
    color: #3393df;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.8125rem;
    border-radius: 2px;
  }
  .section2 > .row p {
    font-size: .875rem;
    line-height: 2rem;
  }
  .section2 > .row h5 {
    margin: 25px 0 18px;
    font-size: 1.5rem;
  }
  .section2 > .row .gt {
    margin: 443px 0 60px;
  }
  .section3 > .row {
    margin: 0 auto;
  }
  .section3 > .row .title h3 {
    margin: 20px 0 25px;
    display: inline-block;
    font-size: 2.625rem;
    color: #3393df;
  }
  .section3 > .row .title span {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2px;
    font-size: 2.25rem;
    color: #fff;
    background-color: #3393df;
    text-align: center;
    line-height: 2.5rem;
  }
  .section3 h6 {
    color: #3393df;
    margin: 37px 0 20px;
  }
  .section3 .fon14 {
    font-size: .875rem;
    color: #5d5d5d;
  }
  .section3 .fon18 {
    font-size: 1.125rem;
  }
  .section3 img {
    margin: 40px 0 86px 86px;
  }
  .section4 {
    background-color: #f7f7f7;
  }
  footer {
    background-color: #3b3b3b;
  }
  footer .box6 {
    margin: 0 auto;
  }
  footer .box6 h6 {
    margin-top: 36px;
    color: #9798a0;
    font-size: .875rem;
  }
  footer .box6 p {
    color: #9798a0;
    font-size: .6875rem;
    margin-bottom: 37px;
  }
  footer .box6 .gt {
    margin-top: 38px;
  }
  footer .box6 .gt img {
    margin-right: 10px;
  }
  footer .box6 .gt .qr {
    position: absolute;
    top: -153px;
    left: 18px;
    opacity: 0;
  }
  footer .box6 .gt .vx:hover + .qr {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .box-nav {
    height: 100%;
  }
  .box-nav .navbar-wrapper .navbar {
    margin-bottom: 0;
  }
  .box-nav .navbar-wrapper #navbar {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #222;
    width: 100vw;
  }
  .section1 {
    background-color: #8bc01f;
  }
  .section1 .box {
    margin: 0 auto;
    color: white;
  }
  .section1 .box h3 {
    font-size: 3rem;
    margin: 20px 0 25px;
    margin-left: 56px;
  }
  .section1 .box h3::before {
    position: absolute;
    left: 20px;
    content: "1";
    width: 2.8125rem;
    height: 2.8125rem;
    background-color: #fff;
    color: #8bc01f;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 2px;
    line-height: 2.8125rem;
  }
  .section1 .box h6 {
    font-size: 1.5rem;
    margin-bottom: 18px;
    margin-left: 40px;
  }
  .section1 .box p {
    margin-left: 40px;
    font-size: .875rem;
    line-height: 1.9375rem;
  }
  .section1 img {
    margin-top: 60px;
    display: none;
  }
  .section1 .btn {
    color: #8bc01f;
    margin-top: 15px;
    margin-bottom: 24px;
    margin-left: 40px;
  }
  .section2 {
    background-color: #3393df;
  }
  .section2 > .row {
    margin: 0 auto;
    color: #fff;
    margin-bottom: 20px;
  }
  .section2 > .row h3 {
    font-size: 3rem;
    margin: 25px 0 18px 40px;
  }
  .section2 > .row h3::before {
    position: absolute;
    left: -35px;
    content: "2";
    width: 2.8125rem;
    height: 2.8125rem;
    background-color: #fff;
    color: #3393df;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.8125rem;
    border-radius: 2px;
  }
  .section2 > .row p {
    font-size: .875rem;
    line-height: 2rem;
  }
  .section2 > .row h5 {
    margin: 10px 0 10px;
    font-size: 1.5rem;
  }
  .section2 > .row .gt, .section2 > .row .lt {
    margin: 443px 0 60px;
    display: none;
  }
  .section3 > .row {
    margin: 0 auto;
  }
  .section3 > .row .title h3 {
    margin: 20px 0 25px;
    display: inline-block;
    font-size: 2.625rem;
    color: #3393df;
  }
  .section3 > .row .title span {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2px;
    font-size: 2.25rem;
    color: #fff;
    background-color: #3393df;
    text-align: center;
    line-height: 2.5rem;
  }
  .section3 h6 {
    color: #3393df;
    margin: 20px 0 20px;
  }
  .section3 .fon14 {
    font-size: .875rem;
    color: #5d5d5d;
  }
  .section3 .fon18 {
    font-size: 1.125rem;
  }
  .section3 img {
    margin: 40px 0 86px 86px;
    display: none;
  }
  .section4 {
    background-color: #f7f7f7;
  }
  footer {
    background-color: #3b3b3b;
  }
  footer .box6 {
    margin: 0 auto;
  }
  footer .box6 .lt {
    padding: 0;
  }
  footer .box6 h6 {
    margin-top: 36px;
    color: #9798a0;
    font-size: .875rem;
  }
  footer .box6 p {
    color: #9798a0;
    font-size: .6875rem;
    margin-bottom: 10px;
  }
  footer .box6 .gt {
    margin-top: 38px;
  }
  footer .box6 .gt img {
    margin-bottom: 5px;
  }
  footer .box6 .gt .qr {
    position: absolute;
    top: -18px;
    left: -137px;
    opacity: 0;
    transform: rotate(-90deg);
  }
  footer .box6 .gt .vx:hover + .qr {
    opacity: 1;
  }
}
