* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }

  
  .box {
    height: 50px;
    background-color: #222;
    .container {
      padding: 0;
      // 导航栏
      .navbar-header {
        .navbar-brand {
          padding: 0 15px;
          display: flex;
          align-items: center;
        }
      }
      .navbar {
        border: none;
        margin-bottom: 0;
      }
      .navbar-wrapper {
        .navbar-brand {
          padding: 0 15px;
          > img {
            width: 130px;
          }
        }
      }
    }
  }
  html {
      font-size: 16px;
  }
  .section1 {
    img {
      width: 100%;
  }
  }
  .section2 {
      h3 {
          font-size: 2.25rem;
          margin: 5.8125rem 0 1.125rem;

      }
      h6 {
          font-size: 1.3125rem;
          margin-bottom: 1.9375rem;

      }
      p {
          font-size: .875rem;
          margin-bottom: 1.625rem;
          text-indent: 2em;
      }
      img {
          margin: 8.75rem 0 4.625rem;
      }
  }
  .section3 {
    background-color: #8cc11f;
      h3 {
        margin: 7.1875rem 0 3.75rem;
          font-size: 2.25rem;
          color: #fff;
      }
      p {
          margin-bottom: 1.5rem;
          font-size: 1rem;
          color: #fff;
          line-height: 1.875rem;
      }
      .gt {
        margin: 13.125rem 0 5.125rem;
        p {
          margin: 0;
        }
        .btn {
          margin: 1.125rem 0;
        }
      }
  }
  .section4 {
    .box4 {
      margin-bottom: 66px;
    }
      h3 {
    }
    h3 {
      font-size: 1.625rem;
      margin: 7.625rem 0 2.5rem;
      color: #8cc11f;
    }
    dt {
      // margin-bottom: .9375rem;
      line-height: 2.1875rem;
      font-size: 1.125rem;
      
    }
    dd {
      font-size: 1rem;
      text-indent: 1em;
      line-height: 2.1875rem;
    }
    .box4-2 {
      margin-bottom: 66px;
      h3 {
        margin-top: 4.5rem;

      }
      border-top: 1px solid #d2d2d2;
    }
  }
  .section5 {
    background-color: #f4f4f4;
    h1 {
      margin: 2.6875rem 0 2.4375rem;
      font-size: 2.25rem;
    }
    >.container {
      margin-bottom: 3.75rem;
      .box6-1 {
        // padding: .625rem .9375rem ;
        margin-right: 30px;
        margin-bottom: 1.25rem;
        width: 45%;
        height: 100%;
        background-color: #fff; 
        border-radius: .25rem;
        border: .0625rem solid #e3e3e3;
        img {
          padding: .6875rem 0 1.25rem 1.25rem;
          
        }
        p {
          padding-top: 1.25rem;
          padding-right: 0;
          font-size: 1rem;
        }
      }
    }
  }

// ipad端 >= 768px   < 992px
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
  .box {
    height: 100%;
    .navbar-wrapper {
      .navbar {
        margin-bottom: 0;
      }
      // 语言
      #navbar {
        .dropdown {
          position: absolute;
          top: 0;
          right: 80px;
        }
      }
    }
  }
  .section2 {
    h3 {
        font-size: 2.25rem;
        margin: 1.2rem 0 1.125rem;

    }
    h6 {
        font-size: 1.3125rem;
        margin-bottom: 1.5375rem;

    }
    p {
        font-size: .875rem;
        margin-bottom: 1rem;
        text-indent: 2em;
    }
    .gt {
        margin-top: 4.7rem;
    }
    .lt {
      margin-bottom:2rem;
    }
}
.section3 {
  background-color: #8cc11f;
    h3 {
      margin: 1.2rem 0 1.1125rem;
        font-size: 2.25rem;
        color: #fff;
    }
    p {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        color: #fff;
        line-height: 1.875rem;
    }
    
    .gt {
      margin: 1.125rem 0 2.525rem;
      p {
        margin: 0;
      }
      .btn {
        margin: 1.125rem 0;
      }
    }
}
.section4 {
  .box4 {
    margin-bottom: 1.5rem;
  }   
  h3 { 
    margin: 1.2rem 0 1.1125rem;
    
  }
  .box4-2 {
    margin-bottom: 1.5rem;
    h3 {
      margin-top: 1.2rem;

    }
    
  }
}
.section5 {
  >.container {
    margin-bottom: 1.75rem;
  }
  h1 {
    margin: 1.6875rem 0 1.4375rem;
   
  }
  .box6-1 {
    width: 47% !important;
    margin-right: 10px !important;
  }
}
footer {
  background-color: #3b3b3b;
  .container,.lt {
    padding: 0 ;
  }
  
  .box6 {
    // width: 1000px;
    margin: 0 auto;
    
   h6 {
     margin-top: 36px;
     color: #9798a0;
     font-size: .875rem;
   }
   p {
     color: #9798a0;
     font-size: .6875rem;
     margin-bottom: 37px;
   }
   .gt {

     margin-top: 38px;
     
     img {
       margin-right: 10px;
     }
     .qr {
       position: absolute;
       top: -153px;
       left: 18px;
       opacity: 0;
     }
     .vx {
       &:hover+.qr {
         opacity: 1;
       }  
     }
   }
  }
} 
}

// 移动端 < 768px 
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .box {
    height: 100%;
    .navbar-wrapper {
      .navbar {
        margin-bottom: 0;
      }
      // 语言
      #navbar {
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #222;
        width: 100vw;
        // .dropdown {
        // }
      }
    }
  }
  .section2 {
    h3 {
        font-size: 2.25rem;
        margin: 1.2rem 0 1.125rem;

    }
    h6 {
        font-size: 1.3125rem;
        margin-bottom: 1.5375rem;

    }
    p {
        font-size: .875rem;
        margin-bottom: 1rem;
        text-indent: 2em;
    }
    .gt {
        margin-top: 4.7rem;
    }
    .lt {
      margin-bottom:2rem;
    }
}
.section3 {
  background-color: #8cc11f;
    h3 {
      margin: 1.2rem 0 1.1125rem;
        font-size: 2.25rem;
        color: #fff;
    }
    p {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        color: #fff;
        line-height: 1.875rem;
    }
    
    .gt {
      margin: 1.125rem 0 2.525rem;
      p {
        margin: 0;
      }
      .btn {
        margin: 1.125rem 0;
      }
    }
}
.section4 {
  .box4 {
    margin-bottom: 1.5rem;
  }   
  h3 { 
    margin: 1.2rem 0 1.1125rem;
    
  }
  .box4-2 {
    margin-bottom: 1.5rem;
    h3 {
      margin-top: 1.2rem;

    }
    
  }
}
.section5 {
  >.container {
    margin-bottom: 1.75rem;
  }
  h1 {
    margin: 1.6875rem 0 1.4375rem;
   
  }
  .box6-1 {
    width: 100% !important;
    margin-right: 10px !important;
  }
}
footer {
  background-color: #3b3b3b;
  .container,.lt {
    padding: 0 ;
  }
  .box6 {
    // width: 1000px;
    margin: 0 auto;
     
  .lt {
    padding: 0;
  }
   h6 {
     margin-top: 36px;
     color: #9798a0;
     font-size: .875rem;
   }
   p {
     color: #9798a0;
     font-size: .6875rem;
     margin-bottom: 10px;
   }
   .gt {

     margin-top: 38px;
     
     
     img {
       margin-bottom: 5px;
     }
     .qr {
       position: absolute;
       top: -18px;
       left: -137px;
       opacity: 0;
       transform: rotate(-90deg);
     }
     .vx {
       &:hover+.qr {
         opacity: 1;
       }  
     }
   }
  }
} 

}

//PC端
@media screen and (min-width: 991px) {
  footer {
    background-color: #3b3b3b;
    .container,.lt {
      padding: 0 ;
    }
    .box6 {
      // width: 1000px;
      margin: 0 auto;
      
     h6 {
       margin-top: 36px;
       color: #9798a0;
       font-size: .875rem;
     }
     p {
       color: #9798a0;
       font-size: .6875rem;
       margin-bottom: 37px;
     }
     .gt {

       margin-top: 38px;
       
       img {
         margin-right: 20px;
       }
       .qr {
         position: absolute;
         top: -153px;
         left: 28px;
         opacity: 0;
       }
       .vx {
         &:hover+.qr {
           opacity: 1;
         }  
       }
     }
    }
  } 
}